/*
Title: Stye
Authors: Spencer T. Crosland, 
Purpose: General Styling for all pages in Stronghold Strategy Guide Site
*/


/* Fonts  */
.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* change if needed */
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* change if needed */
    font-style: normal;
}

/*  Headings use Oswald  */
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
}

/*  Paragraphs use Inter  */
p {
    font-family: "Inter", sans-serif;
}

/*  Body Styles  */
body {
    padding: 0;
    margin: 0;
    background: #1C1C1E;
}

/*  Header */
header {
    background: url() center center / cover no-repeat;
    height: 178px;
    position: relative;
}

header img {
    width: 178 center;
    height: auto;
}

/* Navagation  */
nav {
    background: ##FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    height: 50px; 
    border-top: 3px solid #000;
    border-bottom: 5px solid #000;
    padding: 0 20px;
    box-sizing: border-box;
}

nav a {
    color: #ffffff;
    text-shadow: #7F00FF;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;
}

nav a:hover {
    background: #32CD32;
    text-shadow: 4px 4px 2px #7F00FF;
}


/*  MAIN CONTENT  */
main h1 {
    text-align: center;
    font-size: 3em;
    color: #32CD32;
    text-shadow: 2px 2px 5px #ffffff;
    margin-bottom: 20px;
}
main h2{

    color: #7F00FF;
    text-shadow: 2px 2px 5px #ffffff;
    margin-bottom: 20px;
}

main img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 80%;
    border: 5px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px #ffffff;
}

/*  FOOTER  */
footer {
    background: url() center no-repeat;
    margin: 20px auto; /* centers horizontally */
    width: 90%; /* or 900px if you prefer a fixed width */
    max-width: 900px; /* keeps it consistent with #wrapper */
    text-align: center;
    padding: 15px;
    border: 5px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffffff;
    color: #32CD32;
    text-shadow: 1px 1px 3px #ffffff;